.cart-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    width: 40%;
    padding: 10px;
    border: 1cap solid hsl(0, 0%, 0%, 0.1);
    border-radius: 5px;
    gap: 1vh;
}

.cart-viewer-small {
    width: 90%;
}

.order-button {
    display: flex;
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 16px;
    font-family: "SF Pro Display", 'Arial', sans-serif;
    cursor: pointer;
}