.order-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    gap: 1vh;
    
}

.order-success {
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.order-success-image {
    width: 25%;
}

.order-success-label {
    font-size: 2rem;
    color: rgb(60, 60, 60);
    margin-bottom: 5%;
    margin-top: 5%;
}

.order-success-link {
    font-size: 1.2rem;
    text-decoration: underline;
}