.cart-header {
    display: inline-flex;
    width: 70px;
    margin: 10px;
    border-radius: 5px;
    border:solid;
    padding: 5px; 
    gap: 8px;
}

.cart-header:hover {
    cursor: pointer;
}

.cart-logo {
    height: 100%;
    object-fit: contain;
}

.cart-block-text {
    font-family: "SF Pro Display", 'Arial', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}