.cart-header {
    display: inline-flex;
    width: fit-content;
    margin: 10px 5px;
    border-radius: 5px;
    border:solid;
    padding: 5px; 
    gap: 8px;
    position: relative;
}

.cart-header:hover {
    cursor: pointer;
}

.cart-count-icon {
    box-sizing: border-box;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background-color: yellow;
    border:1px solid black;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.7rem;
    font-family: "SF Pro Display", 'Arial', sans-serif;
    opacity: 0.95;
    
}

.cart-logo {
    height: 100%;
    object-fit: contain;
}

.cart-block-text {
    font-family: "SF Pro Display", 'Arial', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}