.search-bar {
    display: inline-flex;
    align-items: center;
    background-color: white;
    width: 30%;
    margin: 10px 8%;
    border-radius: 25px;
    padding: 2px;
    padding-left: 10px;
}

.search-icon {
    height: 50%;
    padding-right: 10px;
    opacity: 50%;
}

.search-input {
    margin-right: 10px;
    width: 100%;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
}

.search-input:focus{
    outline: none;
}