.login-header {
    display: flex;
    width: fit-content;
    margin: 10px 5px;
    border-radius: 5px;
    border:solid;
    padding: 5px; 
    gap: 8px;
}

.login-header:hover {
    cursor: pointer;
}

.login-logo {
    height: 100%;
    object-fit: contain;
}

.login-block-text {
    font-family: "SF Pro Display", 'Arial', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}